<div
  class="bg-white py-10 grid grid-cols-2 container mx-auto md:grid-cols-4 gap-4 p-2 text-center mb-10">
  @for (item of contactInfo; track item) {
    <div>
      <div class="flex justify-center mb-4 p-4">
        <div
          class="w-12 h-12 flex-items-center justify-center bg-gray-100 rounded-full">
          <span
            nz-icon
            [nzType]="item.icon"
            nzTheme="outline"
            class="text-gray-600"></span>
        </div>
        <h3 class="text-orange-500 text-lg">{{ item.title }}</h3>
        <p class="text-gray-600">{{ item.description }}</p>
      </div>
    </div>
  }
</div>
