<nz-layout class="app-layout">
  <nz-sider
    class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo" />
        <h1>Ant Design Of Angular</h1>
      </a>
    </div>
    <ul
      nz-menu
      nzTheme="dark"
      nzMode="inline"
      [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
        <ul>
          <li nz-submenu nzTitle="Product">
            <ul>
              <li
                nz-menu-item
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: false }">
                <a [routerLink]="['/admin/product']">List</a>
              </li>
              <li
                nz-menu-item
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: false }">
                <a [routerLink]="['/admin/product/add']">Add</a>
              </li>
            </ul>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/admin/category">Category</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/admin/variant">Variant</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Form" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>Basic Form</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span
          class="header-trigger"
          (click)="isCollapsed = !isCollapsed"
          (keydown.enter)="isCollapsed = !isCollapsed"
          (keydown.space)="isCollapsed = !isCollapsed"
          tabindex="0">
          <span
            class="trigger"
            nz-icon
            [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></span>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <nz-breadcrumb>
        <nz-breadcrumb-item>User</nz-breadcrumb-item>
        <nz-breadcrumb-item>Bill</nz-breadcrumb-item>
      </nz-breadcrumb>
      <div class="inner-content">
        <router-outlet />
      </div>
    </nz-content>
    <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>
  </nz-layout>
</nz-layout>
