<nz-table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Category</th>
      <th>Price</th>
      <th>SKU</th>
      <th>Action</th>
    </tr>
  </thead>
  <ng-container *ngIf="products$ | async as products">
    <tr *ngFor="let product of products">
      <td>{{ product.id }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.categoryId }}</td>
      <td>{{ product.price }}</td>
      <td>{{ product.SKU }}</td>
      <td>
        <nz-popconfirm
          nzTitle="Are you sure?"
          (nzOnConfirm)="onDelete(product.id)">
          <button nz-popconfirm nz-button nzType="default" class="bg-red-500">
            Delete
          </button>
        </nz-popconfirm>
      </td>
    </tr>
  </ng-container>
</nz-table>
