<form nz-form [formGroup]="formCategory" (ngSubmit)="submitForm()">
  <!-- Name -->
  <nz-form-item nzFlex>
    <nz-form-label nzFor="" nzSpan="1-24" nzRequired> Name </nz-form-label>
    <nz-form-control nzSpan="1-24" nzErrorTip="errorTip">
      <input
        nz-input
        formControlName="name"
        id="name"
        name="name"
        placeholder="Name" />
    </nz-form-control>
  </nz-form-item>
  <!-- Thumbnail -->
  <!-- <nz-form-item nzFlex>
    <nz-form-label nzFor="" nzSpan="1-24" nzRequired> Thumbnail </nz-form-label>
    <nz-form-control nzSpan="1-24" nzErrorTip="errorTip">
      <input
        nz-input
        formControlName="thumbnail"
        id="thumbnail"
        name="thumbnail"
        placeholder="Thumbnail" />
    </nz-form-control>
  </nz-form-item> -->

  <!-- Category ID -->
  <nz-form-item nzFlex>
    <nz-form-label nzFor="" nzSpan="1-24" nzRequired> Category </nz-form-label>
    <nz-select
      formControlName="categoryId"
      name="categoryId"
      nzPlaceHolder="Choose"
      nzAllowClear>
      <nz-option nzLabel="Normal" nzValue="normal"></nz-option>
      <nz-option nzLabel="Default" nzValue="Default"></nz-option>
    </nz-select>
  </nz-form-item>
  <!-- Description -->
  <nz-form-item nzFlex>
    <nz-form-label nzFor="" nzSpan="1-24" nzRequired>
      Description
    </nz-form-label>
    <nz-form-control nzSpan="1-24" nzErrorTip="errorTip">
      <nz-textarea-count [nzMaxCharacterCount]="100">
        <textarea
          nz-input
          formControlName="description"
          id="remark"
          name="remark"
          rows="4"
          placeholder="Description"></textarea>
      </nz-textarea-count>
    </nz-form-control>
  </nz-form-item>

  <button nz-button nzType="primary" nzShape="round" type="submit">
    Submit
  </button>
</form>
